IPFS_API_BASE_URL=http://127.0.0.1:5001
IPFS_GATEWAY_BASE_URL=http://127.0.0.1:8080
IPFS_DEFAULT_SOURCE_PROJECT=ipfs-evm-system
IPFS_CLI_PATH=/workspace/tools/kubo/ipfs
IPFS_PATH=/workspace/projects/ipfs-evm-system/.local-ipfs
